@media all {

 /*body {
  background-color: #D93E41;
  margin: 0 auto;
}*/
  
 #banner {
 margin-top: 0px;
 width: 100%;
 height: 85px;
 background-color: black;
 position: fixed;
}
 
/*Form formatting*/

input[type="submit"] { 

	-moz-box-shadow:inset 0px 1px 0px 0px #756f75;
	-webkit-box-shadow:inset 0px 1px 0px 0px #756f75;
	box-shadow:inset 0px 1px 0px 0px #756f75;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
	background:-o-linear-gradient(top, #000000 5%, #000000 100%);
	background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
	background-color:#000000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

} 


form{width:400px; margin: 0 auto;}


/*end of form Tasha's edit*/

 .logo {
 	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: rgba(255,251,254,1);
	font-size: 18px;
	text-shadow: rgba(0, 0, 0, 0.2) 2px 5px 9px, rgba(255, 255, 255, 0.298039) 0px -5px 35px;
	line-height: 42px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	padding-left: 15%;
	position:fixed;
 }
 


 .abovelogo {
  display: block;
	float: left;
 	font-family: 'Century Gothic', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 22px;
	color: #D93E41;
	text-shadow: none;
	padding-left: 15%;
	padding-right: 0px;
	font-weight: normal;
	font-style: normal;
	clear:both;	
	position:fixed;
 }
 

 
.button {
	display: table;
  width: 130px;
	color:white;
	float:right;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 30px;
	padding-bottom:30px;
	font-size: 15px;
	font-family: verdana;
  font-weight: bold;
	margin-top: -7px;
	
}
	
.button:hover {
	transition-duration: .3s;
	background-color: #D93E41;
}
	
.button a {
	vertical-align: middle;
}

.logo a{
	text-decoration:none;
	color:white;
}



#container {
 
  width: 70%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding: 140px 40px 0px 40px;

  
                 min-height:100%;
		 margin-bottom:-120px;

}

#body {
   padding:10px;
   padding-bottom:120px;  
}

 
/*#footer {
position:absolute;
 width: 100%;
 height: 120px;
 background-color: black; 
 bottom: 0;
}*/
 
#adminWidget {
 background-color: white;
 border-radius: 20px;
 padding: 30px;
 margin-bottom: 40px;
 float: right;
 font-family: 'Slabo 27px', serif;
}
 
#adminWidget a {
 color: #D93E41;
 font-weight: none;
 text-decoration: none;
 float: right;
 position:absolute;
 bottom:0;
 left:0;
}
 
/*#footer {

 color: white;	
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 padding-top: 32px; 


}*/

 
.profileBox {
  background-color: black;
  font-family:'Slabo 27px', serif;
  color: white;
  float: left;
  width: 250px;
  height: 400px;
  padding:10px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.eventBox {
  background-color: black;
  font-family:'Slabo 27px', serif;
  color: white;
  float: left;
  width: 250px;
  height: 200px;
  padding:10px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.reportBox {
  background-color: black;
  font-family:'Slabo 27px', serif;
  color: white;
  float: left;
  width: 250px;
  height: 200px;
  padding:10px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
}
  
.placeHolderPic {
  width: 200px;
  height: 200px;
  background-color: black;
}
  
.placeHolderPic img {
   width: 100%;
   height: 100%;
}
 
}

 
@media (max-width: 1295px) and (min-width: 880px) {
  
.abovelogo {
  display: none;
  }
}



@media (max-width: 880px) and (min-width: 670px) {
  
.abovelogo {
  display: none;
}
  
p.logo {
  display: none;
}
  
}


@media (max-width: 669px) {
  
.abovelogo {
  display: none;
}
  
p.logo {
  display: none;
}
  
#banner{
  position: relative;
  min-height: 300px;
  
}
  
.button {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  
.menuItem {
  margin-left: auto;
  margin-right: auto;
}
  
#banner {
  margin-top: -16px;
}    
  
}